@model ProductListingViewModel
@{
    ViewData["Title"] = "Home Page";
}

<br />

<partial name="_Search" />

<br />

<partial name="_Carousel" />

<br />

<div class="row home-page">
    @foreach (var product in @Model.Products)
    {
        <partial name="_ProductListing" model="product" />
        //@await Html.PartialAsync("_ProductListing", product)
      }
    </div>

<partial name="_Paging" />

<partial name="_Footer" />