@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Default";
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<li>
    <a class="btn btn-outline-info my-2 my-sm-0" asp-controller="ShoppingCart" asp-action="Index">
        <i class="fas fa-shopping-cart"></i>
        <span id="cart-status">
            @if (@Model.ShoppingCart.ShoppingCartItems.Count != 0)
            {
                @Model.ShoppingCart.ShoppingCartItems.Count
            }
        </span>
    </a>
</li>


