@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Default";
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<li>
    <a asp-controller="ShoppingCart" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-shopping-cart">Shopping Cart</span>
        <span id="cart-status">
            @if(@Model.ShoppingCart.ShoppingCartItems.Count != 0)
            {
                @Model.ShoppingCart.ShoppingCartItems.Count
            }
        </span>
    </a>
</li>


