@model CreateEditCategoryViewModel
@{
    ViewData["Title"] = "Create Catagory";
}

<h2>@ViewData["Title"]</h2>

<div class="row create-product">
    <div class="col-md-4">
        <partial name="_CreateOrEditForm" model="Model" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
